* {
    font-family: Helvetica;
}

header h1 {
    background-image: url(./images/pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.blue-strong {
    color: blue;
    font-weight: bold;
}

.redback {
    background-color: lightcoral;   
}

.greenback {
    background-color: mediumspringgreen;
}

.blueback {
    background-color: skyblue;
}